{% macro my_experience(exp) -%}
  <div class="timeline-item pb-3">
    <span class="circle-item"></span>
    <div class="timeline-title">
      <span>{{exp.title}}</span>
    </div>
    <span class="timeline-date">{{exp.company}} {{exp.year}}</span>
    <div class="timelinte-content">
      <span class="bold-content">Main activities: </span>
      <span>{{exp.description}}</span>
    </div>
  </div>
{%- endmacro %}
{% macro my_education(edu) -%}
  <div class="timeline-item pb-3">
    <span class="circle-item"></span>
    <div class="timeline-title">
      <span>{{edu.title}}</span>
    </div>
    <span class="timeline-date"> {{edu.year}} </span>
    <div class="timelinte-content">
      <span>{{edu.at}}</span>
    </div>
  </div>
{%- endmacro %}
{% macro my_projects(edu,i) -%}
  <div class="carousel-item">
    <div class="col-md-3">
      <div class="card shadow-sm">
      <img src="..." class="img-fluid" alt="...">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
          xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
          preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
            dy=".3em">Thumbnail</text>
        </svg>
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
            additional
            content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
  </div>
{%- endmacro %}