{% macro my_experience(exp) -%}
<div class="timeline-item pb-3">
  <span class="circle-item"></span>
  <div class="timeline-title">
    <span>{{exp.title}}</span>
  </div>
  <span class="timeline-date">{{exp.company}} {{exp.year}}</span>
  <div class="timelinte-content">
    <span class="bold-content">Main activities: </span>
    <span>{{exp.description}}</span>
  </div>
</div>
{%- endmacro %}
{% macro my_education(edu) -%}
<div class="timeline-item pb-3">
  <span class="circle-item"></span>
  <div class="timeline-title">
    <span>{{edu.title}}</span>
  </div>
  <span class="timeline-date"> {{edu.year}} </span>
  <div class="timelinte-content">
    <span>{{edu.at}}</span>
  </div>
</div>
{%- endmacro %}
{% macro my_projects(prj,i) -%}
<div class="carousel-item {{'active' if i == 0}}">
  <div class="col-md-4 px-1 ">
    <div class="d-flex align-items-stretch">
      <div class="card shadow-sm">
        <img src="{{prj.img_url}}" width="100%" height="225" alt="{{prj.title.lower()}}">
        <div class="card-body d-flex flex-column">
          <p class="card-text"><b>{{prj.title}}</b></p>
          <p class="card-text text-start mb-auto">{{prj.description}}</p>
          <div class="d-flex justify-content-between align-content-center mt-3">
            <div class="btn-group">
              <a type="button" href="{{prj.prj_url}}" class="btn btn-sm btn-outline-secondary">View</a>
              {# <a type="button" class="btn btn-sm btn-outline-secondary">Edit</a> #}
            </div>
            <small class="text-muted">{{prj.stack}}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%- endmacro %}
{% macro my_test(prj) -%}
<div class="col p-1" >
  <article class="prj-card d-flex flex-column">
    <img src="{{prj.img_url}}" alt="{{prj.title}}" >
    <div class="prj-card-title mt-1">{{prj.title}}</div>
    <div class="prj-card-description ">{{prj.description}}</div>
    <div class="flex-grow-1"></div>
    <div class="prj-button-container mt-2">
      <a type="button" href="{{prj.prj_url}}" class="btn btn-sm btn-outline-secondary py-0">Code</a>
      <a type="button" href="{{prj.prj_url}}" class="btn btn-sm btn-outline-secondary py-0">Demo</a>
    </div>
  </article>
</div>
{%- endmacro %}